
.profile__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 60px;
    flex-grow: 1;
}

.profile__fields {
    list-style: none;
    width: 510px;
    margin-bottom: 60px;
}

.profile__fieldsItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}

.profile__btnList {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.profile__fieldsItem:last-child {
    border-bottom: none;
}

.profile__fieldsItemName {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
}

.profile__fieldsItemValue {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: right;

    color: #999999;
}

.profile__btnBlock {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.buttonLink {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    border: none;
    cursor: pointer;
    color: #3369f3;
    text-align: left;
    background: transparent;
}

.buttonLink:hover,
.buttonLink:active,
.buttonLink:focus {
    opacity: 80%;
}

.buttonLink_red {
    color: #ff0000;
}
