<main class="main">
    <form class="signIn_container" name="signInForm" action="" id="signInForm">
        <h1 class="signIn_title">Вход</h1>
        <fieldset class="signIn_fieldset">
            {{{InputText
                    id="login"
                    name="login"
                    type="text"
                    placeholder="Логин"
                    classInput="inputBlock__input "
                    classLabel=""
                    label="Логин"
                    errorMessage=errorLoginMessage
                    value=loginValue
                    disabled=false
                    onInput=onInputLogin
                    onChange=onChangeLogin
                    pattern="^[A-Za-z][A-Za-z0-9_-]{2,19}$"
            }}}
            {{{InputText
                    id="password"
                    name="password"
                    type="password"
                    label="Пароль"
                    value=passwordValue
                    placeholder="Пароль"
                    errorMessage=errorPasswordMessage
                    disabled=false
                    classInput="inputBlock__input "
                    classLabel=""
                    onInput=onInputPassword
                    onChange=onChangePassword
                    pattern="(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)){8,40}$"
            }}}
        </fieldset>
        <div class="signIn_buttonBlock">
            {{{Button
                    text="Войти"
                    classNames="button_primary"
                    type="submit"
                    id="signInSubmitBtn"
                    onClick=onSubmitClick
            }}}
            {{{ButtonLink
                    text="Нет аккаунта?"
                    classNames="buttonLink_center"
                    id="onSignUp"
                    onClick=onSignUpClick
            }}}
        </div>

    </form>

</main>
