<main class="main">
    <form class="signIn_container" name="signInForm" action="" id="signInForm" >
        <h1 class="signIn_title">Вход</h1>
        {{{fieldset}}}
        <div class="signIn_buttonBlock">
            {{{btnPr}}}
            {{{btnLink}}}
        </div>

    </form>

</main>


