.signIn_container {
    background-color: white;
    min-height: 450px;
    width: 340px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 30px;
}

.signIn_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.signIn_fieldset {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    border: none;
}

.signIn_buttonBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.signIn__input {
    text-align: right;
    color: #999;
    border: none;
    flex-grow: 1;
    padding-bottom: 7px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    background-color: #0000 !important;
}

.signIn__label {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999999;
}

.signIn__input:not([disabled]) {
    text-align: right;
    color: #444242;
    border: none;
    width: 100%;
    border-bottom: 1px solid #3369F3;
    flex-grow: 1;
    padding-bottom: 7px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
}

.signIn__input:focus,
.signIn__input:active,
.signIn__input:focus-visible {
    outline: none;
    background-color: transparent !important;
}

.signIn__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #999999;
    text-align: left;
}
