<main class="main">
    <div class="main_container">
        <h1 class="">Pages</h1>
        <ul class="pageList">
            <li class="pageList_item"><a href="./signIn.html">Sign in</a></li>
            <li class="pageList_item"><a href="./signUp.html">Sign up</a></li>
            <li class="pageList_item"><a href="./chatList.html">Chat list</a></li>
            <li class="pageList_item"><a href="./profile.html">Profile</a></li>
            <li class="pageList_item"><a href="./notFound.html">404</a></li>
            <li class="pageList_item"><a href="./serverError.html">500</a></li>
        </ul>
    </div>

</main>
