<main class="main">
    <form class="signUp_container" name="signUp" id="signUpForm">
        <h1 class="signUp_title">Регистрация</h1>
        {{{fieldset}}}

        <div class="signUp_buttonBlock">
            {{{btnPr}}}
            {{{btnLink}}}
        </div>

    </form>

</main>


