.popup-confirm__btn-wrapper {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.usersList {
    list-style: decimal;

}

.usersList__li {
    padding: 15px;
}

.usersList__item {
    font-weight: bolder;
}
