.inputBlock{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.inputBlock__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.inputFile__label {
    width: 130px;
    height: 130px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    margin: 0 auto;
    background-size: contain;
    background-origin: border-box;
}

.inputFile__input {
   display: none;
}



.inputFile__message {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
}


.profile__avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;

    background: #efefef url("../../image/avatarPlaceholder.png") no-repeat center;
    margin-bottom: 21px;
    cursor: pointer;
    z-index: 2;
}

.profile__avatar:before {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    content: "Поменять аватар";
    background: #000000;
    opacity: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.profile__avatar:hover:before {
    opacity: 0.5;
}


.avatar__image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}


.profile__img {
    margin: 0 auto;
}
