.inputBlock{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.inputBlock__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.inputFile__label {
    width: 130px;
    height: 130px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    margin: 0 auto;
}

.inputFile__input {
   display: none;
}



.inputFile__message {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
}
