.profile {
    max-width: 1280px;
    width: 100%;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
}

/*.profile div {*/
/*    width: 100%;*/
/*}*/

.profile__title-wrapper{
    display: flex;
    align-items: baseline;
}

.profile__goBack {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    border-right: 1px solid #eaeaea;
}

.profile__goBackBtn {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: #3369f3;
    background-image: url("../../image/arrowBlueLeft.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    background: #fbfbfb;
    padding: 60px;
    padding-bottom: 109px;
}

.profile__container_edit {
    justify-content: center;
}

.profile__avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #efefef url("../../image/avatarPlaceholder.png") no-repeat center;
    margin-bottom: 21px;
    cursor: pointer;
    z-index: 2;
}

.profile__avatar:before {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    content: "Поменять аватар";
    background: #000000;
    opacity: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.profile__avatar:hover:before {
    opacity: 0.5;
}

.profile__img {
    margin: 0 auto;
}

.profile__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 60px;
    flex-grow: 1;
}

.profile__fields {
    list-style: none;
    width: 510px;
    margin-bottom: 60px;
}

.profile__fieldsItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}

.profile__btnList {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.profile__fieldsItem:last-child {
    border-bottom: none;
}

.profile__fieldsItemName {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
}

.profile__fieldsItemValue {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: right;

    color: #999999;
}

.profile__btnBlock {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.buttonLink {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    border: none;
    cursor: pointer;
    color: #3369f3;
    text-align: left;
    background: transparent;
}

.buttonLink:hover,
.buttonLink:active,
.buttonLink:focus {
    opacity: 80%;
}

.buttonLink_red {
    color: #ff0000;
}

.inputBlockProfile {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.inputBlockProfile__wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.inputBlockProfile__label {
    width: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
}

.inputBlockProfile__input {
    border: none;
    flex-grow: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: right;

    color: #999999;
    background-color: transparent !important;
    padding-bottom: 7px;
}

.inputBlockProfile__input:not([disabled]) {
    border-bottom: 1px solid gray;
    flex-grow: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: right;

    color: #444242;
    background-color: transparent !important;
    padding-bottom: 7px;
}

.inputBlockProfile__input:focus,
.inputBlockProfile__input:active,
.inputBlockProfile__input:focus-visible {
    outline: none;

    background-color: transparent !important;
}

.inputBlockProfile__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #999999;
}

.inputBlockProfile__message {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
}
