.buttonLink {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    border: none;
    cursor: pointer;
    color: #3369f3;
    text-align: left;
    background: transparent;
}

.buttonLink:hover,
.buttonLink:active,
.buttonLink:focus {
    opacity: 80%;
}

.buttonLink_red {
    color: #ff0000;
}

.buttonLink.buttonLink_center {
    font-size: 11px;
    line-height: 11px;
    text-align: center;
}
