<div class="inputBlock">
  <p class="inputBlock__label {{classLabel}}">{{label}}</p>
  {{{Input
    id=id
    name=name
    type=type
    placeholder=placeholder
    classInput="inputBlock__input "
    value=value
    onInput=onInput
    disabled=disabled
    onChange=onChange
    pattern=pattern
  }}}
  <p class="inputBlock__message">{{errorMessage}}</p>

</div>