.inputBlock {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.inputBlockSign__label {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999999;
}


.inputBlock__input:focus,
.inputBlock__input:active,
.inputBlock__input:focus-visible {
    outline: none;

    background-color: transparent !important;
}

.inputBlock__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #999999;
}

.inputBlock__message {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
}
