<div class="error__container">
  <h1 class="error__title">{{ title }}</h1>
  <p class="error__subTitle">{{ subTitle }}</p>
  <a class="error__link" href={{ link }} id="errorLink">
    {{ linkText }}
  </a>
</div>
