<ul class="page_list">
  <li class="pageList_item">
    <a href="/signIn.html">Sign in</a>
  </li>
  <li class="pageList_item">
    <a href="/signUp.html">Sign up</a>
  </li>
  <li class="pageList_item">
    <a href="/profile.html">ProfileEditPasswotdComponent</a>
  </li>
  <li class="pageList_item">
    <a href="/chatList.html">Chat list</a>
  </li>
  <li class="pageList_item">
    <a href="/notFound.html">Not Found page 404</a>
  </li>
  <li class="pageList_item">
    <a href="/serverError.html">Server error page 500</a>
  </li>
</ul>
